
#experience,#presentation,#projet
{
   font-size:26px;
   padding-bottom:50px;
}

#passion
{
   font-size:26px;
   padding-bottom:50px;
}

body
{
    background-size: cover;
    background-attachment: fixed;
}

#titre
{
   background-color: #92a8d1;
   border-radius: 0px 0px 30px 30px;
   text-align:center ;
   font-family: "Impact";
}

#casablanca
{
    border-radius: 20px 20px 10px 10px;
}

nav
{
    border-radius: 20px 20px 0px 0px;
}

#parag
{
    color:#00264d;
    font: "Garamond";
}

#titre1
{
   background-color: #92a8d1;
   border-radius: 30px 30px 30px 30px;
   text-align:center ;
   font-family: "Impact";
}

#navbar-example2
{
    font-family: "Impact";
}

h5
{
    color:#4d4dff;
    font-size:30px;
}